{% extends "base.html" %}

{% block title %}
Forgot Password
{% endblock %}

{% block content %}

<div class="register-page">

    <div class="register-box">

        <h2>Forgot Password</h2>

        <p class="register-subtitle">
            Enter your registered email
        </p>

        {% if error %}
        <p style="color: red; text-align: center;">
            {{ error }}
        </p>
        {% endif %}

        <form method="POST" action="/forgot-password">

            <div class="form-group">
                <label for="email">Email</label>

                <input
                    type="email"
                    id="email"
                    name="email"
                    placeholder="Enter your registered email"
                    required
                >
            </div>

            <button type="submit" class="register-btn">
                Send OTP
            </button>

        </form>

        <p class="login-text">
            Remember your password?
            <a href="/login">Login</a>
        </p>

    </div>

</div>

{% endblock %}