{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}

<div class="login-page">

    <div class="login-box">

        <h2>Welcome Back</h2>

        <p class="login-subtitle">
            Login to continue shopping
        </p>

        <form method="POST" action="/login">

            {% if error %}
                <p class="login-error">{{ error }}</p>
            {% endif %}

            <label>Email</label>
            <input type="email" name="email" required>

            <label>Password</label>

                <div class="password-field">
                    <input type="password" name="password" id="login-password" required>

                    <span class="password-eye" onclick="togglePassword()">
                        <svg id="login-eye" viewBox="0 0 24 24" fill="none">
                            <path d="M2 12C2 12 5.5 5 12 5C18.5 5 22 12 22 12C22 12 18.5 19 12 19C5.5 19 2 12 2 12Z"
                                  stroke="currentColor"
                                  stroke-width="2"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"/>
                            <circle cx="12" cy="12" r="3"
                                    stroke="currentColor"
                                    stroke-width="2"/>
                        </svg>
                    </span>
                </div>

            <button type="submit">Login</button>

            <p class="login-text">
                <a href="/forgot-password">Forgot Password?</a>
            </p>

        </form>

        <p class="login-register">
            Don't have an account?
            <a href="/register">Register</a>
        </p>

    </div>

</div>

<script>
function togglePassword() {
    const password = document.getElementById("login-password");
    const eye = document.getElementById("login-eye");

    if (password.type === "password") {
        password.type = "text";

        eye.innerHTML = `
            <path d="M3 3L21 21"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"/>

            <path d="M10.5 5.2C11 5.1 11.5 5 12 5C18.5 5 22 12 22 12C22 12 20.8 14.4 18.5 16.4"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"/>

            <path d="M6 7.2C3.5 9.2 2 12 2 12C2 12 5.5 19 12 19C13.5 19 14.8 18.7 16 18.2"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"/>
        `;
    } else {
        password.type = "password";

        eye.innerHTML = `
            <path d="M2 12C2 12 5.5 5 12 5C18.5 5 22 12 22 12C22 12 18.5 19 12 19C5.5 19 2 12 2 12Z"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"/>

            <circle cx="12" cy="12" r="3"
                    stroke="currentColor"
                    stroke-width="2"/>
        `;
    }
}
</script>


{% endblock %}